<launch>
    <!-- Launch roscore -->
    <group>
        <node name="roscore" pkg="roslaunch" type="roslaunch" args="start /opt/ros/noetic/roscore.launch" />
    </group>

    <!-- Start turtlesim node -->
    <group>
        <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" output="screen"/>
    </group>

    <!-- Start teleop_with_speed.py node -->
    <group>
        <node name="wall_avoidance" pkg="final_coursework" type="wall_avoidance.py" output="screen"/>
    </group>
</launch>
 